@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import "tailwindcss";

@theme {
  --font-quicksand: "Quicksand", sans-serif;
}

@layer base {
  body {
    @apply font-quicksand flex justify-center min-h-dvh w-full bg-black/*bg-[#946BFF]*/ overflow-x-hidden;
  }
  #root {
    @apply w-full;
  }
}
